mixin hero-section(name, desc, iconBg, modName)
  -
    var socials = [
      ['vk', 'http://vk.com/egorovfam'],
      ['github', 'http://github.com/egorov-by-egorov'],
      ['in', 'http://in.com']
    ]
  section.hero__section
    .hero__parralax
      .hero__parralax-layer
        +image('hero.jpg', 'parralax', 'hero__parralax-img')
    include ./header
    .hero__title
      +icon((`${iconBg}`), 'hero__title-pic')
    .hero__user
      .hero__avatar
        +image('avatar.png', 'Avatar', 'hero__avatar-img')
      .hero__description
        h1(class=`${modName}`).hero__name=(`${name}`)
        .hero__info=(`${desc}`)
    a(href="#firstSect").down-arrow.hero__down-arrow.scrollto
      +icon('arrow_down', "down-arrow__img")